<div>
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand ms-5 text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto me-3">
              <a class="nav-link active me-3 text-white" routerLink="home">Home</a>
              <a class="nav-link active me-3 text-white" routerLink="shop" *ngIf="isLoggedIn">Shop</a>
              <a class="nav-link active me-3 text-white" routerLink="about" *ngIf="isLoggedIn">About</a>
              <a class="nav-link active me-3 text-white" routerLink="task">Task</a>
              <a class="nav-link active me-3 text-white" routerLink="observable" *ngIf="isLoggedIn">Observable</a>
              <a class="nav-link active me-3 text-white" routerLink="service" *ngIf="isLoggedIn">Services</a>
              <a class="btn btn-primary" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
              <a class="btn btn-primary" routerLink="/login" *ngIf="isLoggedIn">Logout</a>
            </div>
            <div class="me-5">
              <!-- <button class="btn btn-primary" (click)="onSubscribe()">Subscribe Now</button> -->
             



            </div>
          </div>
        </div>
    </nav>
</div>
