.navbar {
    height: 4.5rem;
    font-size: large;
}
.active {
    color: aqua;
}

.btn {
    width: 5.5rem;
    height: 2.5rem;
    font-size: 1.08rem;
}

.button {
    font-size: 15px;
}

.example-spacer {
    flex: 1 1 auto;
}

button {
    font-size: 1rem;
    margin-right: 1rem;
}

.position-fixed{
    position: relative;
    position: fixed;
    /* overflow: hidden; */
}