<!-- <mat-toolbar color="primary" class="mat-elevation-z8" class="position-fixed">
  <span>Angular</span>
  <span class="example-spacer"></span>
  <button routerLink="home" *ngIf="isLoggedIn" mat-button>Home</button>
  <button routerLink="shop" *ngIf="isLoggedIn" mat-button>Shop</button>
  <button routerLink="about" *ngIf="isLoggedIn" mat-button>About</button>
  <button routerLink="task" *ngIf="isLoggedIn" mat-button>Task</button>
  <button mat-raised-button color="accent" class="btn me-5" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
  <button mat-raised-button color="accent" class="button me-5" *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
</mat-toolbar> -->

<div>
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand ms-5 text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto me-3">
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="home">Home</a>
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="shop">Shop</a>
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="about">About</a>
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="task">Task</a>
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="observable">Observable</a>
              <a class="nav-link active me-3 text-white" *ngIf="isLoggedIn" routerLink="service">Services</a>
              <a mat-raised-button color="accent" class="btn" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
              <button mat-raised-button color="accent" class="mt-1 button" *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
            </div>
          </div>
        </div>
    </nav>

  <!-- <nav class="mat-toolbar mat-primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 text-white" routerLink="/">Navbar</a>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <div fxHide.lt-lg>
        <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button mat-button *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
      </div>
    </div>
  
    <div fxShow.lt-lg>
      <mat-nav-list>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="home">Home</a>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="shop">Shop</a>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="about">About</a>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="task">Task</a>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="observable">Observable</a>
        <a mat-list-item *ngIf="isLoggedIn" routerLink="service">Services</a>
        <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button mat-button *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
      </mat-nav-list>
    </div>
  </nav> -->
  <!-- <div class="me-5">
    <button class="btn btn-primary" (click)="onSubscribe()">Subscribe Now</button>

  </div> -->

</div>
