<h1 class="text-center">{{ isEditMode ? 'Update Task' : 'Add Task' }}</h1>
<form class="mt-4 mx-auto border border-dark rounded bg-light" #taskForm="ngForm" (ngSubmit)="CreateTask(taskForm)"> 
    
    <div class="p-5">
        <label for="">Name:</label>
        <input type="text" name="name" class="form-control shadow-none"  placeholder="Name" ngModel required /> <br>
       
        <label for="">Description:</label>
        <input type="text" name="description" class="form-control shadow-none" placeholder="Description" ngModel required /> <br/> 
    
        <label for="">Create Date:</label>
        <input type="date" name="createDate" class="form-control shadow-none" ngModel required /> <br/> 
    
        <label for="">Tags:</label>
      
        <div class="mt-1 bg-white">
            <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="tags"
                name="tag"
                [(ngModel)]="selectedTags" 
                required>
            </ng-multiselect-dropdown>
        </div>
        <br> 

        <button type="submit" mat-raised-button color="primary" [disabled]="!taskForm.valid">{{ isEditMode ? 'Update Task' : 'Create Task' }}</button>

    </div>

</form>
