.service {
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 10rem;
    width: 15rem
}

.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
  }
  
  .example-full-width {
    width: 100%;
  }