<div class="main">
    
    <a mat-raised-button color="primary" class="link" routerLink="/createTask">Create Task</a>

    <!-- <button mat-raised-button color="warn" class="delAll" (click)="DeleteAllTasks()">Delete All Tasks</button> -->
    <table class="table table-bordered border-secondary table-responsive table-hover mx-auto">
        <thead>
            <tr>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Description</th>
                <th>Create Date</th>
                <th>Tags</th>
                <th>Stake Holder</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody id="tbody" *ngFor="let task of allTasks">
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.createDate}}</td>
                <td>{{ displayTags(task.tags) }}</td>
                <td>{{ displayStakeholders(task.stakeHolder) }}</td>
                <td> 
                    <button mat-raised-button color="warn" class="mx-3" routerLink="/createTask/{{ task.id }}">Update</button> 
                    
                    <!-- <button class="btn btn-danger" (click)="DeleteTask(task.id)">Delete</button> -->
                </td>
            </tr>
        </tbody>
    </table>

</div>


