h1 {
    margin-top: 6rem;
}

form {
    width: 30rem;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(232, 2, 2);
}

.err-msg{
    margin-top: -1.4rem;
}
small {
    color: rgb(232, 2, 2);
    font-weight: bold;
}
.bg-light{
    font-size: 1.5rem;
}

